# PROD - Railway Web Variables. Fill blank credentials before use.

# Runtime
NODE_ENV=production

# Website and API URLs
API_BASE_URL=https://perpetuallabs-production.up.railway.app
NEXT_PUBLIC_SITE_URL=https://perpetuallabs.tech
DJANGO_ADMIN_URL=https://perpetuallabs-production.up.railway.app/admin/

# Server Actions secret
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=
